
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
  
      <h3 style="color:white" class='title'>SlicePay</h3>
      <ul class="navbar-nav ml-auto">
  
        <li class="nav-item  ml-auto">
          <a class="nav-link" href='http://slicepay.readme.themeanstackpro.com'>
            <strong style="font-style: italic">Readme</strong>
          </a></li>&nbsp;
  
        <li class="nav-item  ml-auto">
          <a class="nav-link active ml-auto" routerLink='/products/{{userId}}'>
            <i class="fa fa-home cursorPointer fa-lg" style="color:white" aria-hidden="true" title ='Home'></i>
          </a>
  
  
        </li> &nbsp;
        <li class="nav-item  ml-auto">
          <a class="nav-link active ml-auto" routerLink='/login'>
            <i class="fa fa-sign-out cursorPointer fa-lg"  title ='LogOut' style="color:white" aria-hidden="true"></i>
          </a>
  
  
        </li>
  
      </ul>
    </div>
  </nav>

<div class="container">
    <div class ="row">
      <div class="col">
    <img src ="assets/success.png"  class="rounded  img-fluid mx-auto image d-block" style ="width : 50vw;">
  </div>
    
    </div>
    </div>